<div class="jumbotron">
  <h2>THƯ NGỎ</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, laudantium qui. Harum, debitis reiciendis a odit! Deserunt nihil nostrum harum fuga, cumque amet doloribus deleniti adipisci, optio, minima voluptas voluptatum!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit necessitatibus reprehenderit facere quo animi. Iure aliquam, modi quasi qui, corporis fugit! Temporibus magnam, explicabo earum, provident laudantium veniam repellat labore.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate obcaecati aspernatur nostrum aliquid deserunt quos voluptatem! Labore quo aperiam molestiae, possimus perspiciatis, recusandae consequatur, illo numquam alias distinctio cumque id.</p>
</div>
