<footer id="footer">
	<div class="container">
		<div class="col-sm-6" id="footer-left">
      <h5>COMPANY INFOMATION</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> 
      <p>Voluptates ducimus rem possimus atque molestiae est quas ipsam.</p> 
      <p>Explicabo tenetur perferendis id sapiente, officia iste itaque.</p>
      <p>Hic veritatis obcaecati recusandae saepe.</p>  
    </div>
    <div class="col-sm-6" id="footer-right">
      <ul>
        <li><a href="#">Item |</a></li>
        <li><a href="#"> Item |</a></li>
        <li><a href="#"> Item |</a></li>
        <li><a href="#"> Item |</a></li>
        <li><a href="#"> Item</a></li>
      </ul>
    </div>
	</div>
</footer>