<ul class="nav navbar-nav">
  <li><%= link_to 'trang chủ ', spree.root_path %></li>
  <li><a href="/gioi_thieu">giới thiệu</a></li>
  <li><a href="/san_pham">sản phẩm   </a></li>
  <li><a href="/dich_vu">dịch vụ</a></li>
  <li><a href="/tin_tuc">tin tức</a></li>
  <li><a href="/lien_he">liên hệ</a></li>
  <li><a href="/lien_he">đăng nhập</a></li>
  <li><a href="/lien_he">đăng ký</a></li>
</ul>